@use "theme/catppuccin-mocha.scss" as t;
@use "conf.scss" as s;

@use "widgets/bar/bar.scss";
@use "widgets/bar/popover.scss";
@use "widgets/sway-scratchpad.scss";
@use "widgets/tooltip.scss";

// Style ROOT, Allies to all.
* {
  	all: unset; // Unset all user provided style. Since we are
	font-family: "Symbols Nerd Font Mono", "FiraCode Nerd Font Propo";
    transition-duration: 200ms;
}