@use "../../theme/catppuccin-mocha.scss" as t;
@use "../../conf.scss" as s;
@use "sass:color";

// https://docs.gtk.org/gtk4/class.Popover.html#css-nodes
popover contents {
  all: unset; // Unset all user provided style. Since we are
  background: t.$mantle;
  border-radius: s.$radius;
  border: solid 2px color.mix(t.$surface0, transparent, 60%);
  padding: s.$padding;
  margin: 0 12px 12px; // For shadow
  color: t.$text;
  transition-duration: s.$transition-time;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  /////////////////////////////////////
  /// Calendar
  /////////////////////////////////////
  calendar {
    background: transparent;

    // Calendar header
    header {
      background: color.mix(t.$surface0, transparent, 50%);
      border-radius: s.$radius;
      margin-bottom: s.$padding-small;

      // This is kind of hacky. Somehow could'nt overwrite buttons padding.
      > * {
        padding: s.$padding;
      }
    }

    grid {
      label {
        border: solid 1px transparent;
        border-radius: s.$radius;
        padding: s.$padding-small;
        margin: 1px;
        
        &:hover {
          background-color: color.mix(t.$accent, transparent, 15%);
          border: solid 1px color.mix(t.$accent, transparent, 20%);
        }
      }
      .day-name {
        color: color.mix(t.$accent, transparent, 75%);
        font-weight: bold;
      }
      .week-number {
        color: color.mix(t.$accent, transparent, 75%);
      }
      .other-month {
        color: color.mix(t.$text, transparent, 35%);
      }
      .today {
        color: t.$accent;
        background-color: color.mix(t.$accent, transparent, 15%);
        border: solid 1px color.mix(t.$accent, transparent, 20%);
      }

    }
  }

  /////////////////////////////////////
  /// Regular tray popover menus.
  /////////////////////////////////////
  modelbutton {
      border: 2px solid transparent;
      border-radius: 4px;
      &:active {
          background-color: t.$surface1;
          border: 2px solid t.$surface2;
      }
      &:hover {
          background-color: t.$surface0;
          border: 2px solid t.$surface2;
      }
      &:disabled {
        color: t.$surface2;
      }
  }

  separator {
      margin: 4px 0;
      background-color: t.$surface2;
      min-height: 1px;
      min-height: 1px;
  }
  
  arrow {
      min-height: 16px;
      min-width: 16px;
      &.none {
          -gtk-icon-source: -gtk-icontheme('open-menu-symbolic');
      }
      &.down {
          -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
      }
      &.up {
          -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
      }
      &.left {
          -gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
      }
      &.right {
          -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      }
  }

}

